<nav class="navbar navbar-expand-lg navbar_ap" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
    <div class="container-fluid">
        <a class="navbar-brand logo " href="/">
            <img src="https://toppng.com/uploads/preview/orange-and-grey-elephant-11549414388rwfqs4nyxw.png" alt="" width="60" height="55">
            <p class="logoFonts">NU</p>
        </a>
        <button class="navbar-toggler btn btn-light" data-bs-toggle ="collapse" data-bs-target="#navbar-toggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbar-toggle">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <il class="nav-item navItem"><a class="nav-link d-flex align-items-center" href="/"><box-icon name='home'><img src="https://www.svgrepo.com/show/471518/home-03.svg" width="24" height="24"></box-icon>Home</a></il>
                <il class="nav-item navItem"><a class="nav-link d-flex align-items-center" href="/search"><box-icon name='search-alt'><img src="https://www.svgrepo.com/show/532198/list-ul-alt.svg" alt="" width="24" height="24"></box-icon>Search</a></il>
                <il class="nav-item navItem"><a class="nav-link d-flex align-items-center" href="/insert_user"><box-icon name='package' ><img src="https://www.svgrepo.com/show/486283/data-center-data-warehouse.svg" alt="" width="24" height="24"></box-icon>Insert</a></il>
                <il class="nav-item navItem"><a class="nav-link d-flex align-items-center"  href="/admin" ><box-icon name='user-plus'><img src="https://www.svgrepo.com/show/529279/user-circle.svg" alt="" width="24" height="24"></box-icon>Admin</a></il>                

            </ul>
        </div>
    </div>
</nav>